@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style-type: none;
}



header {
    background-image: url(./images/background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    padding: 20px;
}

nav ul {
display: flex;
list-style-type: none;
justify-content: center;
gap: 30px;

}

nav a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    
}

.nav-container a:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(223, 223, 63);  
}




.first-container {
    height: 500px;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    

}

.first-container-left {
min-height: 200px;
width: 60%;
}

.title-text a:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(223, 223, 63);
}

.first-container-right {
    width: 40%
}

.title-image img {
    height: 350px;
    width: 350px;
}

.title-text {
    text-align: center;
}

.title-text h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

.title-text p {
    color: white;
    line-height: 22px;
}

span {
    color: rgb(223, 223, 63);
}

.title-text a {
    background: #101111;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #eff4fd;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background: rgb(226, 223, 223);
}

.main-container h2 {
    color: black;
    margin: 20px;
    padding: 20px;
    border-bottom: 5px solid black;
    border-style: inset;
    
    
}


.portfolio p  {
   margin-bottom: 30px; 
}

.work-photos {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    gap: 20px
}

.work-photos img {
    height: 350px;
    width: 470px;
    transform: scale(1);
    transition: 0.2s all;
}

.work-photos img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(223, 223, 63);
    
}



.img1 {
    flex-grow: 20;
    flex-basis: 60rem;
}

.relative p {
    position: relative;
    top: 20px;
    bottom: 20px;
    
    
}

.img1 img {
    width: 100%;
}

footer {
    
    padding: 30px;
    clear: both;
    text-align: center;
    background:rgb(226, 223, 223);
}

footer h2 {
    font-size: 20px;
}


@media screen and (max-width: 992px) {
    .first-container-left {
       flex-direction: column;
       flex-shrink:1;
    }
    .first-container-right{
        flex-direction: column;
        flex-shrink: 2;
    }
    nav ul{
        flex-direction: column; 
        align-items: center;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .first-container-left {
        flex-direction: column;
        flex-shrink:2;
     }
     .first-container-right{
         flex-direction: column;
         flex-shrink: 2;
     }
     nav ul{
         flex-direction: column; 
         align-items: center;
     }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .first-container {
       
      flex-direction: column;
      
    }
  }
  








